* text=auto eol=lf

*.py text diff=python linguist-detectable
*.yaml text linguist-detectable
*.yml text linguist-detectable
*.md text linguist-documentation
*.txt text linguist-documentation

*.pyc binary
